<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
</head>

<style media="screen">
	.header {
		width:100%;
		position:fixed;
		left: 0; right: 0;
		top: 0;
		z-index: 1;
	}

	h1{
		font-family: 'EB Garamond';
		font-weight: lighter;
		font-size: 40px;
	}

	.search-title{
		background-color: #8B0000;
		color: white;
		width: 100%;
		height: 50%;
		text-align: left;

	}

	*{
		font-family: 'Pathway Gothic One';
		font-size: 25px;
	}
	table, th, td{
		border: 0.5px solid grey;
	}
	td{
		color: black;
		background-color: white;
	}
	.container {
		width: 101%;
	}
	.descr {
		text-align: left;
	}

	.row{
		margin-bottom: 10px;
		margin-top: 20px;
		/*push down the top!!*/
	}
	.form-check-label {
		font-size: 12px;
	}



	.parent {
		background-color: black;
		color: white;
		width: 100%;
		height: 200%;
		display: table;
		text-align: center;

	}
	.parent > .child {
		display: table-cell;
		vertical-align: middle;
	}



	#parent2 {
		display: table;
	}
	#child2 {
		display: table-cell;
		vertical-align: middle;
	}



	.title-text {
		margin-left: 10px;
		font-size: 25px;
	}

	.left {
		float: left;
	}
	.display {
		border: solid 0.5px;
	}

	#sign {
		text-align: right;
	}

</style>

<body>
	<div class="header">
		<section class="parent">
			<div class="child row">
				<div class="col-md-11.5">
					<h1>WESLEYAN STUDENT INTERNSHIP REVIEWS</h1>
				</div>
				<div class="col-md-0.5" id="sign">
					<%= link_to "Sign out", signout_path, id: "sign_out" %>
				</div>
				<div class="search-title">
					<h3 style="font-size: 35px; margin-left: 5px;">SEARCH RESULTS</h3>
				</div>
			</div>
		</section>
	</div>


	<div class="submission">
		<div class="row multi-column" style="margin-top: 200px;">
			<% if @submissions.blank? %>
			<h4>There are no quotes containing the term <%= params[:search] %></h4>
			<% end %>
			<div class="container">
				<div class="col-md-3">
					<div class="filter">
						<div class="search-title" id="parent2">
							<div id="child2"><h4 class="title-text">FILTERS</h4></div>
						</div>
					</div>
				</div>

				<div class="col-md-9">
					<div class="network">
						<div class="search-title" id="parent2">
							<div id="child2">
								<table style="width:100%; text-align: center;">
									<thead>
										<tr>
											<th style="text-align:center">Position Title</th>
											<th style="text-align:center">Rating</th>
											<th style="text-align:center">Industry</th>
											<th style="text-align:center">Organization</th>
											<th style="text-align:center">Location</th>
											<th style="text-align:center">Comp.</th>
											<th style="text-align:center">Date</th>
										</tr>
									</thead>
									<tbody>
										<% @submissions.each do |submission| %>

										<tr>
											<td><%= link_to submission.positionTitle, submission %></td>
											<td><%= submission.rating %></td>

											<!-- Do all industry boolean searching manually......... -->
											<td><% if  submission.agriculture  %> 
												Agriculture
												<% end %>
												<% if  submission.architecture  %>
												Architecture
												<% end %>
												<% if  submission.artsEntertainment %>
												Arts/Entertainment
												<% end %>
												<% if  submission.education  %>
												Education
												<% end %>
												<% if  submission.energy  %>
												Energy
												<% end %>
												<% if  submission.financialServices  %>
												Financial Services
												<% end %>
												<% if  submission.foodBeverageCPG  %>
												Food/Beverage
												<% end %>
												<% if  submission.government  %>
												Government
												<% end %>
												<% if  submission.healthcare  %>
												Healthcare
												<% end %>
												<% if  submission.hospitality  %>
												Hospitality
												<% end %>
												<% if  submission.manufacturing  %>
												Manufacturing
												<% end %>
												<% if  submission.mediaMarketing  %>
												Media Marketing
												<% end %>
												<% if  submission.nonProfit  %>
												Non-Profit
												<% end %>
												<% if  submission.pharma  %>
												Pharmaceutical
												<% end %>
												<% if  submission.professionalServices  %>
												Professional Services
												<% end %>
												<% if  submission.retailStores  %>
												Retail Stores
												<% end %>
												<% if  submission.technology %>
												Technology
												<% end %>
												<% if  submission.transportation  %>
												Transportation
												<% end %>
												<% if  submission.other  %>  
												<% end %>
											</td>
											

											<!-- All other fields -->
											<td><%= submission.organizationName %></td>
											<td><%= submission.city %></td>
											<td><%= submission.compensation %></td>
											<td><%= submission.year.year %></td>
										</tr>
										<% end %>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>



</body>
</html>
