<h1>WesSID: Search Results</h1>
<% if @submissions.blank? %>
	<h4>There are no quotes containing the term <%= params[:search] %></h4>

<% else %>
<% @submissions.each do |submission| %>
<div class="submission">
	<div class="row multi-column">


		<p><%= submission.rating %></p>
		<p><%= submission.season %></p>
		<p><%= submission.year %></p>
		<p><%= submission.compensation %></p>
		<p><%= submission.country %></p>
		<p><%= submission.positionTitle %></p>
		<p><%= submission.hours %></p>
		<p><%= submission.organizationName %></p>
		<p><%= submission.mailingAddress %></p>
		<p><%= submission.city %></p>
		<p><%= submission.zipcode %></p>
		<p><%= submission.organizationURL %></p>
		<p><%= submission.organizationContactName %></p>
		<p><%= submission.organizationContactJobTitle %></p>
		<p><%= submission.organizationContactEmail %></p>
		<p><%= submission.cardinalInternship %></p>
		<p><%= submission.organizationMission %></p>
		<p><%= submission.agriculture %></p>

	</div>
</div>
<% end %>
<% end %>
