Skip to content
This repository
Search
Pull requests
Issues
Gist
 @cuifanyu
 Sign out
 Watch 5
  Star 0
 Fork 0 KaiLabs/The-Real-Visionaries
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathThe-Real-Visionaries/app/views/submissions/new.html.erb
99071df  5 days ago
@panpan33m panpan33m search picture, sub form reformat, show page improve
3 contributors @shrlyhe @panpan33m @daichionda
RawBlameHistory
439 lines (337 sloc)  15.9 KB
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
</head>

<style media="screen">
.header {
  width:100%;
  position:fixed;
  left: 0; right: 0;
  top: 0;
  z-index: 1;
}
.headcontainer {
  color: black;
  height: 60px;
  line-height: 75px;
}
.head{
  font-family: 'EB Garamond';
  font-weight: lighter;
  font-size: 37px;
  color: white;
}
.head:hover {
  color: white;
  text-decoration: none;
}
.signout {
  color: white;
  font-size: 14px;
}
.textbox {
 font-size: 40px;
}
*{
  font-family: 'Pathway Gothic One';
  font-size: 24px;

}
.parent {
  background-color: black;
  color: white;
  width: 100%;
  height: 200%;
  display: table;
  text-align: center;
}
.parent > .child {
  display: table-cell;
  vertical-align: middle;
}
.search-title{
  background-color: #8B0000;
  color: white;
  width: 100%;
  height: 50%;
  text-align: left;
}
#sign {
  text-align: right;
}
	.descr {
		text-align: left;
	}
	@media (min-width: 768px) {
		.container-fluid {
			max-width: 730px;
		}
	}
	.container-narrow > hr {
		margin: 30px 0;
	}
	.form-check-label {
		font-size: 12px;
	}
	h2 {
		margin-left: 10px;
	}
	.margintop {
		margin-top: 15px;
	}
	.select {
	    background: white;
			-webkit-appearance: square-button;
			-webkit-border-radius: 2px;
	}
</style>

<body>
		<div class="header">
	    <section class="parent">
	      <div class="child row">
					<div class="headcontainer">
	          <%= content_tag :div, class: "col-md-11" do -%>
	            <%= link_to "WESLEYAN STUDENT INTERNSHIP REVIEWS", home_index_path, class: "head" %>
	          <% end -%>
	          <%= content_tag :div, class: "col-md-1" do -%>
	            <%= link_to "Sign out", signout_path, id: "sign_out", class: "signout" %>
	          <% end -%>
	        </div>
	        <div class="search-title">
	          <h3 style="font-size: 35px; margin-left: 5px;">SUBMISSION FORM</h3>
	        </div>
	      </div>
	    </section>
	  </div>
		<%= simple_form_for @submission do |form| %>


<%= render "#{@submission.current_step}_step", :form => form %>
<%= form.button :submit, "Submit" if @submission.last_step1?%>
<%= form.button :submit, "Continue" unless @submission.last_step1?%>
<%= form.button :submit, "Back", :name => "back_button" unless @submission.first_step? %>


<!-- <% form.button :button do %>
<% @submission.current_step = session[:submission_step] %>
<% @submission.next_step %>
<% session[:submission_step] = @submission.current_step %>
<% end %> -->

<!-- Submit -->
<!-- <%= form.button :submit, "Submit", class: "btn btn-primary" %> -->
<% end %>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



</body>

</html>
