<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
</head>

<style media="screen">
.descr {
	text-align: left;
}
@media (min-width: 768px) {
	.container-fluid {
		max-width: 730px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}
.row{
	margin-bottom: 10px;
	margin-top: 10px;
}
.form-check-label {
	font-size: 12px;
}
.parent {
	margin-top: 20px;
	border-radius: 10px;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	display: table;
	text-align: left;

}
.parent > .child {
	display: table-cell;
	vertical-align: middle;
}

h2 {
	margin-left: 10px;
}
</style>

<body>
	<div class="container-fluid">
		<section class="parent">
			<div class="child">
				<h2 id="title">WesSID: Submission Form</h2>
			</div>
		</section>
		<%= simple_form_for @submission do |form| %>


		<div class="form-group">
			<div class="row">
				<%= label :submission, :rating, 'Rate your experience:', class: 'col-md-4 col-form-label' %>
				<div class="col-md-8">
					<%= select_tag 'submission[rating]', "<option>*</option><option>**</option><option>***</option><option>****</option><option>*****</option>".html_safe, class: 'form-control' %>
				</div>
			</div>

			<div class="row">
				<%= label :submission, :season, 'Season:', class: 'col-md-4 col-form-label' %>
				<div class="col-md-8">
					<%= select_tag 'submission[season]', "<option>*</option><option>**</option><option>***</option><option>****</option><option>*****</option>".html_safe, class: 'form-control' %>
				</div>
			</div>


			<%= form.input :positionTitle, :label => "Position title", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :positionTitle, class: "form-control" %>
			</div>
			<% end %>




			<div class="row">
				<%= label :submission, :outside_compensation, 'If stipend/ outside funding, please describe:', class: 'col-md-4 col-form-label' %>
				<div class="col-md-8">
					<%= text_field_tag 'submission[outside_compensation]', "", class: 'form-control' %>
				</div>
			</div>



			<%= form.input :hours, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :hours, class: "form-control" %>
			</div>
			<% end %>

			<%= form.input :organizationName, :label => "Organization Name", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationName, class: "form-control" %>
			</div>
			<% end %>

			<%= form.input :mailingAddress, :label => "Mailing Address", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :mailingAddress, class: "form-control" %>
			</div>
			<% end %>

			<%= form.input :city, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :city, class: "form-control" %>
			</div>
			<% end %>

			<%= form.input :zipcode, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :zipcode, class: "form-control" %>
			</div>
			<% end %>

			<%= form.button :submit, "Submit", class: "btn btn-primary" %>
			<% end %>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>



	</body>

	</html>
