<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
</head>

<style media="screen">
.header {
  width:100%;
  position:fixed;
  left: 0; right: 0;
  top: 0;
  z-index: 1;
}
h1{
  font-family: 'EB Garamond';
  font-weight: lighter;
  font-size: 40px;
}
*{
  font-family: 'Pathway Gothic One';
  font-size: 25px;
}
.row{
  margin-bottom: 10px;
  margin-top: 20px;
  /*push down the top!!*/
}
.parent {
  background-color: black;
  color: white;
  width: 100%;
  height: 200%;
  display: table;
  text-align: center;
}
.parent > .child {
  display: table-cell;
  vertical-align: middle;
}
.search-title{
  background-color: #8B0000;
  color: white;
  width: 100%;
  height: 50%;
  text-align: left;
}
#sign {
  text-align: right;
}


	.descr {
		text-align: left;
	}
	@media (min-width: 768px) {
		.container-fluid {
			max-width: 730px;
		}
	}
	.container-narrow > hr {
		margin: 30px 0;
	}

	.form-check-label {
		font-size: 12px;
	}


	h2 {
		margin-left: 10px;
	}
</style>

<body>
		<div class="header">
	    <section class="parent">
	      <div class="child row">
	        <div class="col-md-11.5">
	          <h1>WESLEYAN STUDENT INTERNSHIP REVIEWS</h1>
	        </div>
	        <div class="col-md-0.5" id="sign">
	          <%= link_to "Sign out", signout_path, id: "sign_out" %>
	        </div>
	        <div class="search-title">
	          <h3 style="font-size: 35px; margin-left: 5px;">SUBMISSION FORM</h3>
	        </div>
	      </div>
	    </section>
	  </div>
		<%= simple_form_for @submission do |form| %>

		<%= render "#{@submission.current_step}_step", :form => form %>

		<%= form.button :button, "Continue" %>
		<%= form.button :button, "Back", :name => "previous_button" unless @submission.first_step? %>


		<!-- <% form.button :button do %>
		<% @submission.current_step = session[:submission_step] %>
    <% @submission.next_step %>
    <% session[:submission_step] = @submission.current_step %>
		<% end %> -->

		<!-- Submit -->
		<!-- <%= form.button :submit, "Submit", class: "btn btn-primary", data: {title: 'Thanks for your submission!'} %> -->
		<% end %>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



</body>

</html>
