<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Pathway Gothic One' rel='stylesheet'>
	<link href='//fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
</head>

<style media="screen">
.header {
  width:100%;
  position:fixed;
  left: 0; right: 0;
  top: 0;
  z-index: 1;
}
.headcontainer {
  color: black;
  height: 60px;
  line-height: 75px;
}
.head{
  font-family: 'EB Garamond';
  font-weight: lighter;
  font-size: 37px;
  color: white;
}
.head:hover {
  color: white;
  text-decoration: none;
}
.signout {
  color: white;
  font-size: 14px;
}
*{
  font-family: 'Pathway Gothic One';
  font-size: 21px;
}

.parent {
  background-color: black;
  color: white;
  width: 100%;
  height: 200%;
  display: table;
  text-align: center;
}
.parent > .child {
  display: table-cell;
  vertical-align: middle;
}
.search-title{
  background-color: #8B0000;
  color: white;
  width: 100%;
  height: 50%;
  text-align: left;
}
#sign {
  text-align: right;
}


	.descr {
		text-align: left;
	}
	@media (min-width: 768px) {
		.container-fluid {
			max-width: 730px;
		}
	}
	.container-narrow > hr {
		margin: 30px 0;
	}

	.form-check-label {
		font-size: 12px;
	}


	h2 {
		margin-left: 10px;
	}
</style>

<body>
		<div class="header">
	    <section class="parent">
	      <div class="child row">
					<div class="headcontainer">
	          <%= content_tag :div, class: "col-md-11" do -%>
	            <%= link_to "WESLEYAN STUDENT INTERNSHIP REVIEWS", home_index_path, class: "head" %>
	          <% end -%>
	          <%= content_tag :div, class: "col-md-1" do -%>
	            <%= link_to "Sign out", signout_path, id: "sign_out", class: "signout" %>
	          <% end -%>
	        </div>
	        <div class="search-title">
	          <h3 style="font-size: 35px; margin-left: 5px;">SUBMISSION FORM</h3>
	        </div>
	      </div>
	    </section>
	  </div>
		<%= simple_form_for @submission do |form| %>

		<div class="container" style="margin-top: 150px;">

			<!-- Position Title -->
			<%= form.input :positionTitle, :label => "Position title", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :positionTitle, class: "form-control" %>
			</div>
			<% end %>

			<!-- Rating -->
			<%= form.input :rating, :label => "Rate your experience", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :rating, label: false, collection: ["★", "★★", "★★★", "★★★★", "★★★★★"], :selected => @submission.rating, class: "form-control" %>
			</div>
			<% end %>

			<!-- Season -->
			<%= form.input :season, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :season, label: false, collection: ["Fall", "Winter", "Spring", "Summer"], :selected => @submission.season, class: "form-control" %>
			</div>
			<% end %>

			<!-- Year -->
			<%= form.input :year, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :year, :input_html => {:style=> 'width: 800%'}, label: false, :as => :date,
				:start_year => 2010, :end_year => 2017, order: [:year], :selected => @submission.year, class: "form-control" %>
			</div>
			<% end %>

			<p style="height: 8px"></p>


			<!-- Type of Compensation -->
			<%= form.input :compensation, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :compensation, label: false, collection: ["Paid", "Unpaid", "Stipend"], :selected => @submission.compensation, class: "form-control" %>
			</div>
			<% end %>

			<!-- Outside Funding Explanation -->
			<%= form.input :outsideCompensation, :label => "If stipend/ outside funding, please describe:", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :outsideCompensation, class: "form-control" %>
			</div>
			<% end %>

			<!-- Hours/Week -->
			<%= form.input :hours, :label => "Hours Per Week", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :hours, class: "form-control" %>
			</div>
			<% end %>

			<!----------- Field/Industry Checkboxes ------------------------------>
			<p>* Field / Industry: </p>

			<!-- Agriculture -->
			<%= form.input :agriculture, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :agriculture, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Architecture -->
			<%= form.input :architecture, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :architecture, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Arts/Entertainment -->
			<%= form.input :artsEntertainment,:label => "Arts/Entertainment", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :artsEntertainment, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Education -->
			<%= form.input :education, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :education, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Energy -->
			<%= form.input :energy, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :energy, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Financial Services -->
			<%= form.input :financialServices, :label => "Financial Services", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :financialServices, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Food/Beverage -->
			<%= form.input :foodBeverageCPG, :label => "Food/Beverage", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :foodBeverageCPG, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Gov -->
			<%= form.input :government, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :government, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Healthcare -->
			<%= form.input :healthcare, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :healthcare, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Hospitality -->
			<%= form.input :hospitality, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :hospitality, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Manufacturing -->
			<%= form.input :manufacturing, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :manufacturing, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Media Marketing -->
			<%= form.input :mediaMarketing, :label => "Media Marketing", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :mediaMarketing, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Nonprofit -->
			<%= form.input :nonProfit, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :nonProfit, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Pharma -->
			<%= form.input :pharma, :label => "Pharmaceuticals", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :pharma, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Professional Services -->
			<%= form.input :professionalServices, :label => "Professional Services", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :professionalServices, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Retail Stores -->
			<%= form.input :retailStores, :label => "Retail Stores", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :artsEntertainment, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Technology -->
			<%= form.input :technology, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :technology, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Transportation -->
			<%= form.input :transportation, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :transportation, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>

			<!-- Other -->
			<%= form.input :other, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :other, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>
<!--------------------------------------------------------------------------->



			<!-- Country -->
			<%= form.input :country, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :country, label: false, as: :country, :selected => @submission.country, class: "form-control" %>
			</div>
			<% end %>









			<!-- Organization Name -->
			<%= form.input :organizationName, :label => "Organization Name", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationName, class: "form-control" %>
			</div>
			<% end %>

			<!-- Mailing Address -->
			<%= form.input :mailingAddress, :label => "Mailing Address", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :mailingAddress, class: "form-control" %>
			</div>
			<% end %>

			<!-- City -->
			<%= form.input :city, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :city, class: "form-control" %>
			</div>
			<% end %>

			<!-- MISSING STATE -->

			<!-- Zipcode -->
			<%= form.input :zipcode, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :zipcode, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization URL (optional) -->
			<%= form.input :organizationURL, :label => "Organization URL", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationURL, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Contact Name (optional) -->
			<%= form.input :organizationContactName, :label => "Contact Name", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactName, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Contact Job Title (optional) -->
			<%= form.input :organizationContactJobTitle, :label => "Contact Job Title", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactJobTitle, class: "form-control" %>
			</div>
			<% end %>

			<!-- Contact Email...(optional) -->
			<%= form.input :organizationContactEmail, :label => "Wesleyan Student Contact Email", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactEmail, class: "form-control" %>
			</div>
			<% end %>

			<!-- Cardinal Internship Bool -->
			<%= form.input :cardinalInternship, :label => "Was this a Cardinal Internship?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :cardinalInternship, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>


			<!-- Wes Alum Bool -->
			<%= form.input :wesAlum, :label => "Is the contact a Wesleyan alum?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :wesAlum, as: :boolean, checked_value:true, unchecked_value: false, :label => " ", class: "form-control" %>
			</div>
			<% end %>





<!-- Organization Mission/Description -->
<%= form.input :organizationMission, :label => "Organization Mission/Description", wrapper_html: { class: 'row' },label_html: { class: 'col-md-12 col-form-label'} do %>
<div class="col-md-12">
	<%= form.text_area :organizationMission, class: "form-control", rows: 3 %>
</div>
<% end %>


<!-- Organization Experience/Rec -->
<%= form.input :organizationRecommendation, :label => "Describe your responsibilities and overall experiences. Would you recommend this experience to other Wesleyan students?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-12 col-form-label'} do %>
<div class="col-md-12">
	<%= form.text_area :organizationRecommendation, class: "form-control", rows: 5 %>
</div>
<% end %>


<!-- Submit -->
<%= form.button :submit, "Submit", class: "btn btn-primary", data: {title: 'Thanks for your submission!'} %>
<% end %>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



</body>

</html>
