<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap 101 Template</title>

	<!-- Bootstrap -->
	<link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
	<link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
</head>

<style media="screen">
	.descr {
		text-align: left;
	}
	@media (min-width: 768px) {
		.container-fluid {
			max-width: 730px;
		}
	}
	.container-narrow > hr {
		margin: 30px 0;
	}
	.row{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.form-check-label {
		font-size: 12px;
	}
	.parent {
		margin-top: 20px;
		border-radius: 10px;
		background-color: black;
		color: white;
		width: 100%;
		height: 100%;
		display: table;
		text-align: left;

	}
	.parent > .child {
		display: table-cell;
		vertical-align: middle;
	}

	h2 {
		margin-left: 10px;
	}
</style>

<body>
	<div class="container-fluid">
		<section class="parent">
			<div class="child">
				<h2 id="title">WesSID: Submission Form</h2>
			</div>
		</section>
		<%= simple_form_for @submission do |form| %>

		<div class="form-group">

			<!-- Rating -->
			<%= form.input :rating, :label => "Rate your experience", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :rating, label: false, collection: ["*", "**", "***", "****", "*****"], :selected => @submission.rating, class: "form-control" %>
			</div>
			<% end %>

			<!-- Season -->
			<%= form.input :season, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :season, label: false, collection: ["Fall", "Winter", "Spring", "Summer"], :selected => @submission.season, class: "form-control" %>
			</div>
			<% end %>

			<!-- Year -->
			<%= form.input :year, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :year, :input_html => {:style=> 'width: 800%'}, label: false, :as => :date,
				:start_year => 2000, :end_year => 2021, order: [:year], :selected => @submission.year, class: "form-control" %>
			</div>
			<% end %>

			<p style="height: 8px"></p>


			<!-- Type of Compensation -->
			<%= form.input :compensation, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :compensation, label: false, collection: ["Paid", "Unpaid", "Stipend"], :selected => @submission.compensation, class: "form-control" %>
			</div>
			<% end %>

			<!-- Country -->
			<%= form.input :country, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :country, label: false, as: :country, :selected => @submission.country, class: "form-control" %>
			</div>
			<% end %>


			<!-- Position Title -->
			<%= form.input :positionTitle, :label => "Position title", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :positionTitle, class: "form-control" %>
			</div>
			<% end %>

			<!-- Outside Funding Explanation -->
			<%= form.input :outsideCompensation, :label => "If stipend/ outside funding, please describe:", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :outsideCompensation, class: "form-control" %>
			</div>
			<% end %>


			<!-- Hours/Week -->
			<%= form.input :hours, :label => "Hours Per Week", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :hours, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Name -->
			<%= form.input :organizationName, :label => "Organization Name", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationName, class: "form-control" %>
			</div>
			<% end %>

			<!-- Mailing Address -->
			<%= form.input :mailingAddress, :label => "Mailing Address", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :mailingAddress, class: "form-control" %>
			</div>
			<% end %>

			<!-- City -->
			<%= form.input :city, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :city, class: "form-control" %>
			</div>
			<% end %>

			<!-- Zipcode -->
			<%= form.input :zipcode, wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :zipcode, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization URL (optional) -->
			<%= form.input :organizationURL, :label => "Organization URL", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationURL, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Contact Name (optional) -->
			<%= form.input :organizationContactName, :label => "Contact Name", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactName, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Contact Job Title (optional) -->
			<%= form.input :organizationContactJobTitle, :label => "Contact Job Title", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactJobTitle, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Contact Email (optional) -->
			<%= form.input :organizationContactEmail, :label => "Contact Email", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input_field :organizationContactEmail, class: "form-control" %>
			</div>
			<% end %>

			<!-- Cardinal Internship Bool -->
			<%= form.input :cardinalInternship, :label => "Was this a Cardinal Internship?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :cardinalInternship, as: :boolean, checked_value:true, unchecked_value: false, class: "form-control" %>
			</div>
			<% end %>


			<!-- Wes Alum Bool -->
			<%= form.input :wesAlum, :label => "Is the contact a Wesleyan alum?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-4 col-form-label'} do %>
			<div class="col-md-8">
				<%= form.input :wesAlum, as: :boolean, checked_value:true, unchecked_value: false, class: "form-control" %>
			</div>
			<% end %>

			<!-- Organization Mission/Description -->
			<%= form.input :organizationMission, :label => "Organization Mission/Description", wrapper_html: { class: 'row' },label_html: { class: 'col-md-12 col-form-label'} do %>
			<div class="col-md-12">
				<%= form.text_area :organizationMission, class: "form-control", rows: 3 %>
			</div>
			<% end %>


			<!-- Organization Experience/Rec -->
			<%= form.input :organizationRecommendation, :label => "Describe your responsibilities and overall experiences. Would you recommend this experience to other Wes students?", wrapper_html: { class: 'row' },label_html: { class: 'col-md-12 col-form-label'} do %>
			<div class="col-md-12">
				<%= form.text_area :organizationRecommendation, class: "form-control", rows: 5 %>
			</div>
			<% end %>



			<!-- Submit -->
			<%= form.button :submit, "Submit", class: "btn btn-primary" %>
			<% end %>

		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>



	</body>

	</html>
